/* For the marquee title */
body {
	height: 100%;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	background-color: rgb(250, 245, 244);
}

.box {
	display: flex; 
}

.box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(51, 43, 43);
	color: rgb(24, 194, 224);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(24, 194, 224);
	color: rgb(20, 11, 1);
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
/* end marquee title */


/*.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}*/
  .card {
    text-align: center;
    border:   rgb(21, 22, 21) solid 1px;
    padding: 1rem;
    width: auto;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #08cbee
  }
 
  
  .fighter-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  
  button {
    position: relative;
    background-color: rgb(51, 43, 43);
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: rgb(51, 43, 43) solid 1px;
    color: rgb(51, 43, 43);
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #1febeb;
    opacity: .8;
  }
  
  .add-fighter-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #29e2f0;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #1f1d1d solid 1px;
    color: #3acae4;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  